<div id='share-bar' align="right" class='float_top'>
    <span  class='st_twitter_hcount' displayText='Tweet'></span>
    <span  class='st_facebook_hcount' displayText='Facebook'></span>
    <span  class='st_linkedin_hcount' displayText='LinkedIn'></span>
    <span  class='st_plusone_hcount' ></span>
  </div>
<% @article_counter = -1 %>
<%= render @articles %>
<div id='paginate'>
  <%= will_paginate(@articles)%>
</div>
